.light {
    height: 100px;
    width: 100px;
    border-radius: 50%;

}

.glow {
    box-shadow: 10px 10px 20px 32px rgba(251, 251, 219, 0.4);
}

.red {
    background-color: rgba(103, 0, 0, 0.841);
}

.yellow {
    background-color: rgba(129, 129, 0, 0.901);
}

.green {
    background-color: rgba(0, 105, 0, 0.649);
}